.card {  /* Add a class name for better specificity */
    
   
    border-radius: 0.75rem; /* Assuming this is what rounded-lg translates to */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); /* Assuming this is what shadow-md translates to */
    overflow: hidden;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 200px;
    
   background-color: rgba(0, 0, 0, 0.4); /* White background with 0.4 opacity */
   backdrop-filter: blur(5px);

  }
 
  
  .card .t {
    text-align: center;
    
  }
  
  .card h2 {
    font-size: 1.5rem; 
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .card p {
    color: #808080; /* Assuming this is what text-gray-500 translates to */
  }
  
  .card a {
    display: inline-block;
    text-align: center;
    margin-top: auto; /* Assuming this is what mt-auto translates to */
    
    color: white;
    font-weight: bold;
    padding: 0.5rem 1rem; /* Assuming these are py-2 px-4 translates to */
    border-radius: 0.75rem; /* Assuming this is what rounded-full translates to */
    
   background-color: rgba(151, 148, 148, 0.4); /* White background with 0.4 opacity */
   backdrop-filter: blur(5px);
   transition: background-color 0.2s ease-in-out;
  
  }
  .card span{
    margin-top: 1.3rem;
    margin-bottom: 0.9rem;
    display: flex;
    justify-content: center;
  }
  
  .card a:hover {
    background-color: #1d1d1d; /* Assuming this is what hover:bg-blue-700 translates to */
  }
  .card img{
    width: 40%;
    height: auto;
    margin: auto;
    background-color: black;
    border-radius: 50%;
  }
  @media (min-width: 1020px) {
    .card{
      min-height: 400px;
    }
    .card a{
      width: 50%;
    }
  }
@media (min-width: 768px) and (max-width: 1019px) {
  .card{
    min-height: 250px;
  }
  .card a{
    width: 70%;
  }
}
@media (max-width: 768px) {
  .card{
    min-height: 200px;
  }
  .card a{
    width: 55%;
  }
}
@media (min-width: 1025px) and (max-width: 1388px) {
  .card{
    min-height: 250px;
  }
  .card a{
    width: 70%;
  }
}