@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
.box1{
    
    border-color: white;
    border-width: 2px;
    
    min-height:30vh;
    backdrop-filter: blur(10px); /* Apply blur to create the frosted glass effect */
    /*background: rgba(255, 255, 255, 0.15); /* Translucent white background */
    border: 1px solid rgba(255, 255, 255, 0.5); /* White border */
    border-radius: 15px; /* Rounded corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    padding: 20px; /* Padding inside the element */
    gap:20px;
   color:white;
   background: linear-gradient(to bottom, rgba(82, 81, 81, 0.5), rgba(96, 96, 99,0.5), rgba(53, 48, 48, 0.5), rgba(32, 30, 30, 0.5));
}
;
.box1::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: inherit;
    backdrop-filter: inherit;
    border-radius: inherit;
    box-shadow: inset 0 4px 6px rgba(255, 255, 255, 0.2);
    z-index: -1;
}
.b_image{
    display: inline-block;
}
.b_image img{
    box-shadow: 0 0 7.4px 5px rgba(255, 255, 255, 0.5); /* Apply shadow with horizontal offset, vertical offset, blur, and spread */
    border-radius: 10px; /* Optional: to round the corners of the image */
}

.b_content h1{
    font-family:"Inter", sans-serif;
    font-weight: 700;
}

.b_content{
    font-family:"Inter", sans-serif;
    font-weight: 300;
    
}

.name{
    font-weight: 400;
}
