@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
.box2{
    
    margin-bottom: 2px;
    border-color: white;
    border-width: 2px;
    
    
    max-height:150vh;
    backdrop-filter: blur(10px); /* Apply blur to create the frosted glass effect */
    background: rgba(255, 255, 255, 0.05); /* Translucent white background */
    border: 1px solid rgba(255, 255, 255, 0.5); /* White border */
    border-radius: 15px; /* Rounded corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    padding: 20px; /* Padding inside the element */
    
    color:white;
}

.box2::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: inherit;
    backdrop-filter: inherit;
    border-radius: inherit;
    box-shadow: inset 0 4px 6px rgba(255, 255, 255, 0.2);
    z-index: -1;
    
}

.box2 h1{
    font-family:"Inter", sans-serif;
    font-weight: 900;
    font-size:xx-large;
    color:white;
}

.past h1{
    font-family:"Inter", sans-serif;
    font-weight: 900;
    font-size:xx-large;
    color:white;
}

.b_desc{
    font-family:"Inter", sans-serif;
    font-weight: 400; 
}
.b_head{
    font-family:"Inter", sans-serif;
    font-weight: 700; 
    font-size: large;
}

.past{
    top:0;
    border-color: white;
    border-width: 2px;
    max-height:100vh;
    width:92vw;
    max-width:100vw;
    
    backdrop-filter: blur(10px); /* Apply blur to create the frosted glass effect */
    background: rgba(255, 255, 255, 0.05); /* Translucent white background */
    border: 1px solid rgba(255, 255, 255, 0.5); /* White border */
    border-radius: 15px; /* Rounded corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    padding: 20px; /* Padding inside the element */
    
    color:white;
}

.past::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: inherit;
    backdrop-filter: inherit;
    border-radius: inherit;
    box-shadow: inset 0 4px 6px rgba(255, 255, 255, 0.2);
    z-index: -1;
 
}
