@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
.sec{
    min-height:60vh;
    max-width:100vw;
    display:flex;
    flex-direction: row;
    gap:0px;
   margin-bottom: 0px;
    overflow: hidden;
    overflow-y: visible;
padding-bottom: 0px;;
}

.leads{
    
    gap:6vh;
    margin:20px;
    min-height: 100vh;
    max-height: max-content;
    top:2rem;
    width:2/5;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 0px;
}


.event2{
    max-height: 100vh;
    
}

.top-left-star1{
    z-index: 100;
    position:absolute;
    left:0;
    height: 9vh;
    width:9vh;
    margin-left: 1vh;
    margin-top: 8vh;
}
.top-left-star2{
    z-index: 0;
    position:absolute;
    height: 6vh;
    width:auto;
    margin-left: 9vh;
}

.top-right-star2{
    z-index: 0;
    position:absolute;
    right:0;
    height:9vh;
    width:auto;
    margin-top:6vh ;
}

.top-right-star1{
    z-index: 0;
    position:absolute;
    right:9vh;
    height: 9vh;
    width:9vh;
}
